<div class="header-bar">
    <span class="logo"><a href="/">Coen Winchester</a></span>
    <nav class="nav">
        <a href="/#pricing">Pricing</a>
        <a href="/#videos">Videos</a>
        <a href="/#faq">FAQ</a>
        <div class="social-icons">
            <a href="https://instagram.com/coenwinchester.guitar" target="_blank"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/coenwinchester" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </nav>
    <button class="hamburger-menu" aria-label="Open Menu"><i class="fas fa-bars"></i></button>
</div>

<div class="mobile-menu-overlay">
    <button class="close-menu" aria-label="Close Menu">&times;</button>
    <nav class="mobile-nav">
        <a href="/#pricing">Pricing</a>
        <a href="/#videos">Videos</a>
        <a href="/#faq">FAQ</a>
        <div class="social-icons">
            <a href="https://instagram.com/coenwinchester.guitar" target="_blank"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/coenwinchester" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </nav>
</div>