---
layout: post
---
<!-- <article class="tutor"> -->
  <!-- <section class="tutor-section"> -->
    <div class="tutor-wrapper">
      <div class="tutor-image">
        {% if page.image %}
          <img src="{{ page.image | relative_url }}" alt="{{ page.name }}" class="tutor-image">
        {% endif %}
      </div>
  
      <div class="tutor-text">
        {% if page.instruments %}
          <div class="instruments">
            <h2>Instruments</h2>
            <ul>
            {% for instrument in page.instruments %}
              <li>{{ instrument }}</li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if page.location %}
          <p class="location">Teaching in: {{ page.location }}</p>
        {% endif %}

        <div class="tutor-content">
          {{ content }}
        </div>
      </div>
    </div>
  <!-- </section> -->
<!-- </article> -->